html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	background-color: lightgray;
}
#output {
	text-align: center;
	color: darkorange;
}
#mop {
	margin: 0 auto;
	display: block;
	width: 100px;
	height: 75px;
	text-align: center;
	font-style: 40px;
	border-radius: 5px;
	border: 1px solid green;
	font-family: inherit;
	outline: none;
	background-color: darkcyan;
}
