:root {
    background: var(--nd-gray-dark);
    color: var(--nd-yellow);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#output {
	text-align: center;
	color: darkorange;
}
#mop {
	margin: 0 auto;
	display: block;
	width: 5rem;
	height: 3.75rem;
	text-align: center;
	font-style: 2rem;
	border-radius: 0.25rem;
	border: 1px solid green;
	font-family: inherit;
	outline: none;
	background-color: darkcyan;
}
